.wrapper{
    position: relative;
    min-height: 100vh;
}
.banner_content p{
    color: #fff;
    font-size: 1.4em;
    font-weight: 400;
}
.banner_content {
    /* background-color: red; */
    margin-top: -300px;
}
.contact_text{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 40px;
    margin-top: 20px;
}
.contact_info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.contact h3, .contact_add h3{
    font-size: 2.5em;
    font-weight: 500;
}
.contact p{
    font-size: 1.3em;
    font-weight: 600;
}
.contact_details{
    width: 100%;
    margin: 30px 0px;
}
.contact_details p{
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 1px;
}
.contact_input{
    width: 100%;
}
.contact_input h5{
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
}
.contact_input form{
    width: 100%;
    display: flex;
    align-items: center;
}
.contact_input form select{
    flex: 1;
    height: 30px;
    outline: none;
}
.contact_input form button{
    width: 50px;
    height: 30px;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: rgb(29, 88, 250);
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
}

/* responsive code for banner text */

@media only screen and (max-width: 900px){
    .banner_content{
        margin-top: -300px;
        margin-left: -150px;
    }
}
@media only screen and (max-width: 380px){
    .banner_content{
        margin-top: -400px;
        margin-left: -90px;
    }
}